body,
html {
  height: 100%;
}

body {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif;
}

.bg {
  /* The image used */
  background-image: url("weatherdashboard-bg.jpg");

  height: 100%;
  overflow-x: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: rgba(34, 33, 33, 0.5);
}

#site-name {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 25px;
}

#search-form,
.btn {
  height: 45px;
}

.cards,
#searched {
  background: rgba(245, 245, 245, 0.8);
  border-radius: 10px;
}

#searched-header {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: rgb(56, 56, 56);
  font-size: 23px;
  font-weight: 600;
  padding-top: 18px;
  border-bottom-style: outset;
}

.searched-city {
  font-size: 20px;
  background: rgba(245, 245, 245, 0);
}

.header {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: bolder;
  font-size: 22px;
  color: rgb(56, 56, 56);
  background: rgba(163, 187, 187, 0.6);
}

#city-name {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
  border-bottom-style: outset;
}

#site-name {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

#todays-section{
  padding-left: 10px;
}

#temp,
#humidity,
#windspeed,
#uvindex {
  font-size: 23px;
  font-weight: 800;
  color: rgb(56, 56, 56);
}

#current-temp,
#current-humidity,
#current-windspeed,
#current-uv {
  font-size: 19px;
  font-weight: 600;
}

#five-day-title {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 23px;
  color: rgb(56, 56, 56);
}

#five-section{
  display: none;
}

.day-card {
  background: rgba(245, 245, 245, 0);
  /* border-style: groove; */
  box-shadow: 7px 7px 10px rgba(143, 142, 142, 0.164);
}