body,
html {
  height: 100%;
}

body {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: rgb(56, 56, 56);
}

.bg {
  /* The image used */
  background-image: url("weatherdashboard-bg.jpg");

  height: 100%;
  overflow-x: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: rgba(34, 33, 33, 0.5);
}

#search-form,
.btn {
  height: 45px;
}

#main-row{
  min-height: 300px;
}

#today-date, #todays-date{
  font-size: 18px;
}

.cards,
#searched {
  background: rgba(245, 245, 245, 0.8);
  border-radius: 3px;
  box-shadow: 7px 7px 10px rgb(143, 142, 142);
}

#searched-header {
  font-size: 23px;
  font-weight: 600;
  padding-top: 18px;
  border-bottom-style: outset;
}

/* .searched-list-item{
  color:black;
} */

.searched-city {
  font-size: 21px;
  color: rgb(56, 56, 56);
  background: rgba(245, 245, 245, 0);
}

.header {
  font-weight: bolder;
  font-size: 22px;
  background: rgba(163, 187, 187, 0.6);
}

#city-name, #welcome-message {
  font-size: 26px;
  font-weight: 600;
  border-bottom-style: outset;
}

#site-name {
  font-size: 35px;
  font-weight: 700;
}

#todays-section{
  padding-left: 10px;
}

#temp,
#humidity,
#windspeed,
#uvindex {
  font-size: 26px;
}

#current-temp,
#current-humidity,
#current-windspeed,
#current-uv, #user-message {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
}

#five-day-title {
  text-decoration: underline;
  text-decoration-color: gray;
  font-weight: bolder;
  font-size: 23px;
}

#five-section{
  display: none;
}

.day-card {
  font-size: 19px;
  background: rgba(245, 245, 245, 0);
  box-shadow: 7px 7px 10px rgba(143, 142, 142, 0.164);
}